

.author_widget {
    margin: 20px;
}

.search_widget {
    margin: 20px;
}

.popular_post_widget {
    margin: 20px;
}

.blog_info {
    max-width: 300px;
    word-wrap: break-word;
}


.img-cate {
    width: 350px;
    height: 213px;
}

.po-post-img{
    width: 100px;
    height: 60px;
}

.post_item {
    margin: 20px;
}


.ads_widget {
    margin: 20px;
}

.post_category_widget {
    margin: 20px;

}

.cat-list {
    margin: 20px;
}