.img1 {
    width: 477px;
    height: 191px;
}

.img2 {
    width: 233px;
    height: 191px;
}

.img3 {
    width: 233px;
    height: 191px;
}

.img4 {
    width: 477px;
    height: 191px;
}

.img5 {
    width: 350px;
    height: 413px;
}


.item-flash {
    width: 142px;
    height: 75px;
}